<div class="main">
  <p>Hello, <%= @name %>.</p>
  <p>What would you like to do?</p>
  <p><a href="/transactions">View all transactions</a></p>
  <p><a href="/transactions/tag">Check spending by category</a></p>
  <p><a href="/transactions/month">Check spending by month</a></p>
  <p><a href="/transactions/new">Add a new transaction</a></p>
</div>
