<header>
  <h2 class="spent">You've spent <span class="bold">£<%= '%.2f' % @total_spent %></span></h2>
  <h2 class="remaining">Budget remaining <span class="bold">£<%= '%.2f' % @remaining_funds %></span></h2>
</header>

<div class="main">

</div>
