<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MoneyCashboard</title>
</head>
<body>
  <%= yield %>
  <nav>
    <ul>
      <li><a href="/transactions">View All Transactions</a></li>
      <li><a href="/transactions">Add New Transaction </a></li>
      <li><a href="/transactions">View Total Spent By Tag </a></li>
      <li><a href="/transactions">View Total Spent By Month </a></li>
    </ul>
  </nav>
</body>
</html>
