<div class="main">

  <section class="category">
    <h3>All Transactions</h3>
  </section>

  <table>
    <tr>
      <th>Date</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.merchant_name %></td>
      <td>£<%= '%.2f' % transaction.amount %></td>
      <td><%= transaction.tag %></td>
    </tr>
    <% end %>
  </table>
</div>
