<div class="main">

  <section class="category">
    <h3>Add a Transaction</h3>
  </section>

  <form action="/transactions" method="post">

    <label for="merchant_name">Merchant name: </label>
    <input type="text" name="merchant_name" id="merchant_name" placeholder="e.g. ASDA" autofocus required />

    <label for="amount">Amount: </label>
    <input type="text" name="amount" id="amount" placeholder="e.g. 15.55" required />

    <label for="category-select">Select Category: </label>
    <select name="tag_id" required>
      <option value="" disabled selected>Category</option>
      <% @tags.each do |tag| %>
      <option value="<%= tag.id %>" id="tag_id"><%= tag.category %></option>
      <% end %>
    </select>

    <label for="transaction_date">Transaction Date: </label>
    <input type="date" name="transaction_date" id="transaction_date" value="<%= DateTime.now.to_date %>" max="<%= DateTime.now.to_date %>" required />

    <input class="button" type="submit" value="Add Transaction" />

  </form>

</div>
